<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMicroPosService" />
                <binding name="BasicHttpBinding_IMicroPosService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/micropos" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMicroPosService" contract="DebugReference.IMicroPosService"
                name="BasicHttpBinding_IMicroPosService" />
            <endpoint address="http://localhost:8583/micropos" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMicroPosService1"
                contract="ServiceReference.IMicroPosService" name="BasicHttpBinding_IMicroPosService1" />
        </client>
    </system.serviceModel>

 
</configuration>